/* Page 1 styles (login page) */

.login-container {
  width: 280px;
  margin: 20% auto;
}

.username, .password {
  height: 50px;
  margin-bottom: 20px;
  background-color: var(--content-color);
}

.btn {
  background-color: var(--action-color);
}

.btn.login {
  height: 50px;
}

/* Page 1 animations */

/* Show Animations (Page 1) */

.login-container.show {
  animation-name: show-login;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes show-login {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Remove Animations (Page 1) */

.login-container.remove .username {
  animation-name: remove-username;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}

@keyframes remove-username {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  60% {
    transform: translate(0px, 70px);
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.login-container.remove .password {
  animation-name: remove-password;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}

@keyframes remove-password {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.login-container.remove .login {
  animation-name: remove-login;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}

@keyframes remove-login {
  0% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(0px, -70px);
  }
  61% {
    transform: translate(0px, -70px);
    opacity: 1;
  }
  95% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
}
