/* css variables */
:root {
  --content-color: #eee;
  --action-color: #75DDFF;
  --light-color: #fff;
}

/* css reset */

body {
  margin: 0;
}

/* Page 1 (login page) */

.login-container {
  width: 280px;
  margin: 20% auto;
}

.username, .password {
  height: 50px;
  margin-bottom: 20px;
  background-color: var(--content-color);
}

.btn {
  background-color: var(--action-color);
}

.btn.login {
  height: 50px;
}

/* Page 1 animations */

/* Show Animations (Page 1) */

.login-container.show {
  animation-name: show-login;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes show-login {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Remove Animations (Page 1) */

.login-container.remove .username {
  animation-name: remove-username;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}

@keyframes remove-username {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  60% {
    transform: translate(0px, 70px);
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.login-container.remove .password {
  animation-name: remove-password;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}

@keyframes remove-password {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.login-container.remove .login {
  animation-name: remove-login;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}

@keyframes remove-login {
  0% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(0px, -70px);
  }
  61% {
    transform: translate(0px, -70px);
    opacity: 1;
  }
  95% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
}

/* Page 2 and 3 (posts and post pages) */

/* header styles */

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 1em;
}

.logout {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: var(--action-color);
  transition: transform 0.25s ease;
  transform-origin: top right;
}

.logout:hover, .logout:focus {
  transform: scaleX(2);
}

/* profile styles */

.profile {
  height: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--content-color);
}

.profile > .avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 50px;
  background-color: var(--light-color);
}

.profile > .username {
  height: 10px;
  width: 200px;
  background-color: var(--light-color);
}

.profile-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
}

.bucket {
  width: 22.5%;
  height: 60px;
  padding: 20px 2.5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bucket > .heading {
  width: 70px;
  height: 15px;
  margin-bottom: 20px;
  background-color: var(--content-color);
}

.bucket > .content {
  width: 50px;
  height: 10px;
  background-color: var(--content-color);
}

.btn.content {
  background-color: var(--action-color);
}

/* post styles */

.post {
  margin: 0 0 70px 0;
  display: flex;
  justify-content: space-around;
}

.post > .avatar {
  width: 50px;
  height: 50px;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 1em;
  border-radius: 5px;
  background-color: var(--content-color);
}

.post-content {
  margin-right: 1em;
  flex-grow: 4;
}

.post-content > .image {
  height: 200px;
  margin-bottom: 20px;
  background-color: var(--content-color);
}

.content-line {
  height: 10px;
  margin-bottom: 20px;
  background-color: var(--content-color);
}

@media (min-width: 700px) {
  .header {
    margin-right: 35%;
    margin-left: 35%;
    padding-right: 0;
  }
  .profile-nav {
    width: 35%;
    margin-right: 35%;
    margin-left: 35%;
    padding-left: 0;
  }
  .post {
    margin-right: 35%;
    margin-left: 35%;
  }
  .post-content {
    margin-right: 0;
  }
}
